* {
    margin: 0px auto;
    padding: 0px;
    /* max-width: 1020px; */
        
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}



.container {
    display: flex;
    width: 1020px;
    margin: auto;
    padding:0 30px;
    position: relative;
    align-items: center;
    box-sizing: border-box;
 
}


.header {
    height: 89px;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
    text-transform:uppercase;
    position: fixed;      
    z-index: 100; 
    width: 100%;
   
            
}

.header_logo {
    display:flex; 
    font-family: "Lato Bold";
     
}

.logo {
    color: #ffffff;
    font-size: 25px;
    padding-top: 29px;
    letter-spacing: -0.5px;
}

span {
    color: #f06c64;
    font-size: 25px;
}


.nav {    
    display: flex;
    width: 380px;     
    padding-top: 30px;
    letter-spacing: -0.2px;
    justify-content: space-between;  
    padding-left: 445px;   
    
    
}

.nav_link.active {
    color: #f06c64;


}

.nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
           
}

.nav a.hover {
    color: #f06c64;
}

.nav a.active {
    color: #f06c64;
    
}

.nav a:not(.active):hover {
    color: #f06c64;
}


.span_nav {
    color: #424657;
    padding-left: 14px;
    padding-top: 15px;
}

.slider_1  {
    background-color: #f06c64;
    height: 594px;
    width: 100%;
    padding-top: 95px;
    border-bottom: solid 6px #ea676b;
    position: absolute;
    overflow: hidden;
    display: block;
    
    
}

.slider_2 {
    display: none;    
    animation: 0.5s ease-in-out;
    background-color: #648BF0;
    height: 594px;
    width: 100%;
    padding-top: 95px;
    border-bottom: 6px solid rgb(83, 121, 216);
    position: absolute;
   
    
}

.active,
.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

.tel_slider_2 {
    position: relative;
    top: 45px;

}

.tel_hor {
    position: relative;
	top: -515px;
	right: -141px;   
}


.tel_vert {   
    position: relative;
	top: -17px;
	left: -109px;
}

#tel_vert_off,
#tel_hor_off {
  position: absolute;
  background-color: black;
  opacity: 0;
  transition: all 0.2s ease-out;
}

#tel_vert_off.screen_on,
#tel_hor_off.screen_on {
  opacity: 1;
}

.phone_button {
    position: absolute;
    /* background-color: #0000; */
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #phone_button_vert {
    top: 460px;
    left: 200px;    
    z-index: 20; 
  }
  
  #phone_button_hor {
    top: 260px;
    left: 435px;
    z-index: 20; 
  }
  
  #tel_vert_off {
    width: 188px;
    height: 333px;
    top: 118px;
    left: 126px;
    
  }
  
  #tel_hor_off {
    width: 333px;
    height: 188px;
    top: 188px;
    left: 485px;
  }

.arrow {
    width: 1020px;
    margin: auto;
    padding:0 30px;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    
}

.arrow_left {
    position: absolute;
	top: 376px;
    left: 42px;
    cursor: pointer;
    
}


.arrow_right {
    position: absolute;
	top: 376px;
    right: 42px;
    cursor: pointer;
    
}

.arrow_right:hover, 
.arrow_left:hover {
    opacity: 0.5;
}


.section {  
    background-color:#f2f2f2 ;
    padding-top: 695px;
    height: 494px;
    align-items: center;    
    width: 100%;
    border-bottom: solid 6px #ffffff;
    color:#666d89; 
              
}

.section_head {     
  padding-top: 59px;    
}

.services {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
	justify-content: space-between;
    padding-top: 20px;   
    
}
   
.services_items {         
    max-width: 940px; 
    height: 123px;
    align-items: center; 
    
             
}

.icons {    
    float: left;
	margin-right: 19px;
   
}

.section-title {
    font-size: 30px;
    width: 940px;    
    font-family: "Lato Black";
    
}

.section-title_description {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 18px;
    font-family: "Lato Light";
    padding-bottom: 8px;
    line-height: 29px; 
    letter-spacing: -0.15px; 
        
}

h4 {
    font-size: 18px;
    font-family: "Lato Black";
    position: relative;
    margin-top: -2px;
}


.services_item_info {
    font-family: "Lato Regular";
    position: relative;
    justify-content: center;
    margin-top: 9px;
    font-size: 12px;
    line-height: 20px;
    margin-left: 80px;
    letter-spacing: -0.15px;
    width: 220px;

} 



.portfolio {
    background-color: #2d303a;
    height: 863px;
    align-items: center; 
    width: 100%;  
    border-bottom:solid 6px #323746;
}


.portfolio_header {
   margin-left: 10px;
    
}

.logo_singolo2 {
    font-size: 30px;
    font-family: "Lato Black";
    color: #666d89;    
    padding-top: 60px;
    letter-spacing: 0.3px;

}

.logo_inf {
    font-size: 18px;
    font-family: "Lato Light";
    color: #767e9e;
    padding-top: 4px;
    letter-spacing: -0.1px;
}

.head_nav {
    display: flex ;
    width: 294px;
    font-size: 12px;
    font-family: "Lato Regular";
    justify-content: space-between;
    list-style: none;    
    padding-top: 14px;
    margin-left: -3px;
       
}

.li_butt {
    font-size: 12px;
    line-height: 8px;
    color: #767e9e;
    padding: 6px;
    border: 1px solid #666d89;
    border-radius: 4px;
    background-color: transparent;    
           
}

.li_butt:hover {
    cursor: pointer;
    color:#c5c5c5;
}

.li_butt.active {
    font-size: 12px;
    line-height: 8px;
    color: #dedede;
    padding: 6px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;

}

.portfolio_img {
    display: grid; 
    grid-template: repeat(3, 187px) / repeat(4, 220px);   
    grid-gap: 20px;
    position: relative;
    padding-top: 19px;
    max-height: 620px;    
    overflow: hidden;
    cursor: pointer;  
   
    
}

img.boarder {
    outline: 5px solid #f06c64;
    transform: scale(0.95, 0.95);  
}    

.about_us {
    background-color: #f2f2f2;
    height: 728px;     
    width: 100%; 
    border-bottom:solid 6px #ffffff;
    
}

.about_title {
    font-size: 30px;
    font-family: "Lato Black";
    color: #666d89;
    
}

.about_info {
    font-size: 18px;
    font-family: "Lato Light";
    padding-top: 16px;
    line-height: 31px;
    color: #767e9e;

}

.about_us_description {
    align-items: center;
    max-width: 940px;
    padding-top: 59px;
   

}

.about_us_container {
    display:flex;
    padding-top: 45px;
    padding-left: 10px;
    
    
}

.about_us_items {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    padding-right: 20px ;
    max-height: 450px;
}

.about_us_items_title {
    font-size: 17px;
    font-family: "Lato Black";
    padding-top: 15px;    
    color: #666d89;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.5px;
    margin-left: 0px;
    max-width: 300px;

}


.about_us_items_info {
    font-size: 12px;
    font-family: "Lato Regular";
    padding-top: 10px;
    line-height: 20px;
    color: #767e9e;

}

.about_us_icons {
    display: flex;
    padding-top: 25px;
    margin-left: 0px;

}

.icon_soc {
    float: left;
    margin-right: 10px;    
    width: 30px;
    height: 30px;  
    
}


.quote {
    background-color: #f06c64;
    height: 648px;
    align-items: center;
    width: 100%;    
    border-bottom:solid 6px #ea676b;
}

.quote_head {
   width: 940px;      
   padding-top: 59px;
   letter-spacing: -0.1px;

}
.quote_logo {
    font-size: 30px;
    font-family:"Lato Black" ;
    color: #f0d8d9;

}

.quote_description {
    padding-top: 19px;
    font-size: 18px;
    font-family: "Lato Light";
    color: #f0d8d9;
    line-height: 29px;
    
}

.input_information_form {
    display: flex;
    justify-content: left;
    flex-direction: row;  
    padding-left: 10px;    
    width: 620px;    
    margin-top: 45px;   
    margin-bottom: 15px; 
    justify-content: space-between;
}

.input_information {   
    padding: 12px 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;   
    width: 619px;
    font-family: "Lato Regular";
    font-size: 12px;
    color: #f48c8f;
    margin-bottom: 15px;
    
}

.input_information:hover {
    background-color:#c5c5c5;
}


.submit:hover {
  background-color:#c5c5c5;
}


textarea {   
    max-height: 202px;

}

::placeholder {
    color: #f48c8f;
}

.submit {
    width: 80px;
    height: 40px;
    cursor: pointer;

}    

#message_block{
    position: absolute;
    justify-content: center;
    margin-left: -110px;
    width: 1200px;
    height: 900px;       
    background: #0008;
}
  
#message_block.hidden{
    display: none;
}
  
#message{
    position: absolute;
    top: 200px;
    left: 300px;
    border: 5px double #2d303a;
    background-color: seagreen;
    font-family: Lato Regular;
    text-align: center;
    padding: 100px 100px;
}

.form_contact_info {
    margin-top: 8px;
    font-size: 12px;
    color: #f0d8d9;
    line-height: 22px;
    letter-spacing: -0.1px;
    text-align: justify;
    hyphens: manual;
    margin-top: -398px;
    margin-left: 21.5px;
    min-width: 300px;
    height: 80px;
    
}

.form_contact_description {
    margin-top: 9px;
    font-size: 12px;
    font-family: "Lato Regular";
}

.email_phone {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    margin-left: -170px;
    margin-top: 19px;
    font-size: 12px;
    font-family: "Lato Regular";     

}

.contact-text:hover {
    color:#c5c5c5;
}


.contact-text{
    text-decoration: none;
    color: #f0d8d9;
    font-size: 12px;
    font-family: "Lato Regular";
}

.contact-information_loc {
    padding-right: 13px;
    padding-left: 3px; 
    
}

.contact-information_tel {
    padding-right: 11px;
    margin-left: -27px;
    
}

.contact-information_mail {
    padding-right: 10px;
    margin-left: -28px;
    
}

.icon_soc:hover {
    cursor: pointer;
    opacity: 0.5;
}

footer {
    position: absolute;  
    width: 100%;
    background-color:#2d303a;
    height: 76px;
} 

h5 {
    font-family: "Lato Black";
    font-size: 18px;
    letter-spacing: 0.15px;

}
.footer_logo {  
    align-items: baseline;
    max-width: 940px; 
    
    font-size: 12px;
    font-family: "Lato Regular";
    color: #5b6179;
    margin-top: 30px;
    padding-left: 0px;

}

.footer_contacts {
    display: flex;
    justify-content:space-between;
    width: 160px;
    padding-left: 796px;
    margin-top: -23px;
    /* align-items: center; */
    
       
}


 /* fonts  */


 @font-face {
    font-family: "Lato Light";
    src: url("assets/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src: url("assets/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("assets/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato Black";
    src: url("assets/Lato-Black.ttf");
} 

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}