* {
    margin: 0 auto;
    padding: 0;
    
}

body {
    max-width: 1020px;

}

/* Header */


.portfolio {
    background-color: #2d303a;
    height: 864px;  
    border-bottom:solid 6px #323746;
     
}

.container {
    max-width: 940px;
    display: flex;
    margin: auto;
    
}

.portfolio_header {
    padding-left: 40px;
    
}

.logo_singolo2 {
    font-size: 30px;
    font-family: "Lato Black";
    color: #666d89;    
    padding-top: 60px;
    letter-spacing: 0.3px;

}

.logo_inf {
    font-size: 18px;
    font-family: "Lato Light";
    color: #767e9e;
    padding-top: 4px;
    letter-spacing: -0.1px;
}

.head_nav {
    display: flex ;
    width: 295px;
    font-size: 12px;
    font-family: "Lato Regular";
    justify-content: space-between;
    list-style: none;    
    padding-top: 15px;
    margin-left: -3px;
       
}

.li_butt {
    font-size: 12px;
    line-height: 8px;
    color: #767e9e;
    padding: 6px;
    border: 1px solid #666d89;
    border-radius: 4px;
    background-color: transparent;
    
           
}

.li_butt:hover {

    cursor: pointer;
}

.active_nav {
    font-size: 12px;
    line-height: 8px;
    color: #dedede;
    padding: 6px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;

}

.portfolio_img {
    display: grid; 
    grid-template: repeat(3, 187px) / repeat(4, 220px);   
    grid-gap: 20px;
    position: relative;
    padding-top: 10px;
    max-height: 620px;
    overflow: hidden;
    
}

.about_us {
    background-color: #f2f2f2;
    height: 729px;  
    border-bottom:solid 6px #ffffff;
    
}

.about_title {
    font-size: 30px;
    font-family: "Lato Black";
    color: #666d89;
    
}

.about_info {
    font-size: 18px;
    font-family: "Lato Light";
    padding-top: 16px;
    line-height: 31px;
    color: #767e9e;

}

.about_us_description {
   padding-left: 40px;
   padding-top: 60px;
   

}

.about_us_container {
    display:flex;
    padding-top: 44px;
    
    
}

.about_us_items {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    padding-right: 20px ;
    max-height: 450px;
}

.about_us_items_title {
    font-size: 17px;
    font-family: "Lato Black";
    padding-top: 15px;    
    color: #666d89;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.5px;
    margin-left: 0px;
    max-width: 300px;

}


.about_us_items_info {
    font-size: 12px;
    font-family: "Lato Regular";
    padding-top: 10px;
    line-height: 19px;
    color: #767e9e;

}

.about_us_icons {
    display: flex;
    padding-top: 26px;
    margin-left: 1px;

}

.icon_soc {
    float: left;
    margin-right: 10px;    
    width: 30px;
    height: 30px;  
    
}

.icon_soc img:hover {
    cursor: pointer;
}

 /* fonts  */


 @font-face {
    font-family: "Lato Light";
    src: url("assets/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src: url("assets/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("assets/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato Black";
    src: url("assets/Lato-Black.ttf");
}